.cover__background-link {
  margin: 0;
  padding: 0;
  position: relative;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  text-decoration: none;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  min-height: 200px;
}
.cover__background-link::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
  transition: 0.7s;
  background-color: #2a2c2f;
  z-index: -1;
}
.cover__background-link:hover {
  opacity: 0.8;
}
@media screen and (min-width: 768px) {
  .cover__background-link {
    min-height: 480px;
  }
}
@media screen and (min-width: 1024px) {
  .cover__background-link {
    min-height: 640px;
  }
}
@media screen and (min-width: 1280px) {
  .cover__background-link {
    min-height: 740px;
  }
}
